DB_PASSWORD=CHANGE_THIS_TO_VERY_LONG_SECURE_DATABASE_PASSWORD_MIN_32_CHARS
KONG_ADMIN_PASSWORD=CHANGE_THIS_TO_VERY_LONG_ADMIN_PASSWORD_MIN_32_CHARS
KONG_SESSION_SECRET=CHANGE_THIS_TO_VERY_LONG_SESSION_SECRET_MIN_64_CHARS_FOR_JWT_SIGNING
KONG_VERSION=3.7